<?xml version="1.0" encoding="UTF-8"?>

<ICC> 
  <Component> 
    <HttpServer>
      <LocalPort>21090</LocalPort>                                  <!--  HttpServer   端口        -->
      <NacosServerIp>127.0.0.1</NacosServerIp>                      <!--  NacosServer  IP          -->
      <NacosServerPort>8848</NacosServerPort>                       <!--  NacosServer  Port        -->
      <NacosNamespace>dev</NacosNamespace>                          <!--  NacosName    服务目录    -->
      <NacosServiceName>icc-record-service</NacosServiceName>       <!--  NacosService 服务名称    -->
      <NacosGroupName>global</NacosGroupName>                       <!--  NacosGroup   分组名称    -->
      <queryurl>/nacos/v1/ns/instance/list</queryurl>               <!--  Nacos        查询网址    -->
      <registurl>/nacos/v1/ns/instance</registurl>                  <!--  Nacos        注册网址    -->
      <ucmsurl>/v1/health/getAddr</ucmsurl>                         <!--  Nacos        网址        -->
      <checkinterval>1</checkinterval>                              <!--  Nacos        检测间隔    -->
      <successflag>ok</successflag>                                 <!--  Nacos        成功标识    -->
      <RespTimeout>30</RespTimeout>                                 <!--  Nacos        超时时间ms  -->    
      <RequestLimitCount>160</RequestLimitCount>
    </HttpServer>
    <AmqClient>  
      <CMSPriority>4</CMSPriority>                                    <!--  消息优先级               -->
      <CMSExpiration>60000</CMSExpiration>                            <!--  消息过期时间             -->
      <IsConsumerExpiryCheckEnabled>0</IsConsumerExpiryCheckEnabled>  <!--  是否启用消费者过期检查   -->
      <UserName>admin</UserName>                                      <!--  AmqClient    用户名      -->
      <Password>Command_123</Password>                                <!--  AmqClient    用户密码    -->
      <FailoverTimeout>3000</FailoverTimeout>                         <!--  AmqClient    故障超时    -->
      <ManagerPort>22060</ManagerPort>                                <!--  AmqClient    管理端口    -->
      <TimedWait>1</TimedWait>                                        <!--  AmqClient抢锁等待时间 单位:秒 -->                            
      <Servers> 
        <Server> 
          <Host>127.0.0.1</Host>                                      <!-- AmqClient    IP           -->
          <Port>22000</Port>                                          <!-- AmqClient    Port         -->
          <ConnectionTimeout>3000</ConnectionTimeout>                 <!-- AmqClient    连接超时     -->
          <MaxInactivityDuration>9000</MaxInactivityDuration>         <!-- mq最大不活动持续时间      -->
        </Server> 
      </Servers> 
    </AmqClient>  
    <DBConn> 
      <dbname>icc</dbname>                                            <!-- 数据库名                 -->
      <username>icc</username>                                        <!-- 数据库用户名             -->
      <password>123456</password>                                     <!-- 数据库用户密码           -->
      <connnum>10</connnum>                                           <!-- 连接池的初始化大小       -->
      <increasenum>2</increasenum>                                    <!-- 连接池自增长的大小       -->
      <maxnum>20</maxnum>                                             <!-- 连接池的最大大小         -->
      <statementtimeout>30000</statementtimeout>                      <!-- sql执行超时         -->
      <Servers> 
        <Server> 
          <dbhost>127.0.0.1</dbhost>                                  <!-- 数据库IP                 -->
          <dbport>5432</dbport>                                       <!-- 数据库Port               -->
        </Server> 
      </Servers> 
    </DBConn>  
    <Logger> 
      <Level>5</Level>                                                <!-- 日志等级                 -->
      <Target>../Tools/Logs</Target>                                  <!-- 日志保存路径             -->
      <AutoFlush>1</AutoFlush>                                        <!-- 日志自动刷新功能         -->
      <RotationSize>10</RotationSize>                                 <!-- 日志文件的最大尺寸       -->
      <MaxSize>1000</MaxSize>                                         <!-- 文件夹所占最大空间       -->
      <MinFreeSpace>1000</MinFreeSpace>                               <!-- 磁盘最小预留空间         -->
      <CheckInterval>60</CheckInterval>                               <!-- 检测间隔                 -->
      <IsCompress>true</IsCompress>                                   <!-- 日志是否压缩             -->
      <PreserveDays>360</PreserveDays>                                 <!-- 日志保存时间             -->
    </Logger>  
    <RedisClient> 
      <Mode>0</Mode>                                                  <!-- 部署模式 0哨兵1集群      -->
      <Servers> 
        <Server> 
          <Host>127.0.0.1</Host>                                      <!-- RedisClient IP           -->
          <Port>22130</Port>                                          <!-- RedisClient Port         -->
          <Password>Command_123</Password>                            <!-- RedisClient 登录密码     -->
        </Server> 
      </Servers> 
    </RedisClient> 
  </Component>  
  <Plugin>
    <Record> 
      <NacosServerIp>192.168.0.168</NacosServerIp>                                         <!-- Nacos服务IP地址          -->
      <NacosServerPort>26900</NacosServerPort>                                             <!-- Nacos服务端口            -->
      <NacosNamespace>dev</NacosNamespace>                                                 <!-- Nacos命名空间            -->
      <NacosAccessAPI>/nacos/v1/ns/instance/list</NacosAccessAPI>                          <!-- 获取Nacos服务的url       -->
      <NacosGroupName>global</NacosGroupName>                                              <!-- Nacos分组                -->
      <CTIServiceName>icc-cti-service</CTIServiceName>                                     <!-- CTI服务名称              -->
      <FileServiceName>commandcenter-file-service</FileServiceName>                        <!-- 文件服务名称             -->
      <HistoryFileAccessAPI>/icc/cti/get_history_callList</HistoryFileAccessAPI>           <!-- 获取历史话务数据的url    -->
      <UploadAttemptCount>3</UploadAttemptCount>                                           <!-- 上传文件重试次数         -->
      <FileStoragePath>/usr/CommandCenter/icc/Tools/RecordFiles</FileStoragePath>          <!-- 录音下载本地路径         -->
      <FSFtpIP>192.168.73.213</FSFtpIP>                                                    <!-- FreeSwitch录音FTP地址    -->
      <FSFtp2IP></FSFtp2IP>                                                                <!-- FreeSwitch备录音FTP地址  -->
      <FSFtpPort>21</FSFtpPort>                                                            <!-- FreeSwitch录音FTP端口    -->
      <FSFtpUser>recorder</FSFtpUser>                                                      <!-- FreeSwitch录音FTP用户    -->
      <FSFtpPwd>Command_123</FSFtpPwd>                                                     <!-- FreeSwitch录音FTP密码    -->
      <FSFtpDeleteRemoteFile>1</FSFtpDeleteRemoteFile>                                     <!-- 下载后是否删除FTP文件    --> 
      <UploadFileTimer>5</UploadFileTimer>                                                 <!-- 上传文件任务定时器(秒)   -->
      <CapNetDataProcEnable>0</CapNetDataProcEnable>                                       <!-- 是否抓取网络包           -->
      <DeleteLocalFiles>1</DeleteLocalFiles>                                               <!-- 是否删除本地文件         -->
      <UpdateDBRecord>1</UpdateDBRecord>                                                   <!-- 是否写数据库             -->
      <CapNetDataPara>
        <NicID>eno1</NicID>                                                                <!-- 抓包网卡标识             -->
        <MediaGwIp></MediaGwIp>                                                            <!-- 媒体网关IP               -->
        <MediaGwIp2></MediaGwIp2>                                                          <!-- 备用媒体网关IP           -->
        <LocalStoragePath>/usr/CommandCenter/icc/Tools/RecordFiles</LocalStoragePath>      <!-- 本地存储抓包录音的目录   -->
        <AesServerIp></AesServerIp>                                                        <!-- AES服务器IP              -->
        <AesServerPort>443</AesServerPort>                                                 <!-- AES服务器端口            -->
        <AesServerUser></AesServerUser>                                                    <!-- AES服务器用户名          -->
        <AesServerPwd></AesServerPwd>                                                      <!-- AES服务器密码            -->
        <AudioPara>
          <PkgInterval>20</PkgInterval>                                                    <!-- 发包间隔(微秒)           -->
          <SampleRate>8000</SampleRate>                                                    <!-- 采样率                   -->
          <CodecFmt>G711A</CodecFmt>                                                       <!-- 编码类型                 -->
          <SampleBits>8</SampleBits>                                                       <!-- 采样大小(bits)           -->
        </AudioPara>
      </CapNetDataPara>
    </Record>
    <DogClient> 
      <IsUsing>1</IsUsing>                                            <!-- 加载DogClient插件 开关   -->
    </DogClient>  
    <Message> 
      <ServiceLockTTL>15</ServiceLockTTL>                             <!-- 获取服务锁数量           -->
      <ServiceLockTimeOut>5</ServiceLockTimeOut>                      <!-- 获取服务锁超时           -->
      <ShardUpdateTime>23</ShardUpdateTime>                           <!-- 每日检查时间(24小时制)   -->
      <TimeOut>5</TimeOut>                                            <!-- post 请求超时时间        -->
    </Message>  
  </Plugin> 
</ICC>
